@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #000000, #333333);
    min-height: 100vh;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, a {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

h1, h2 {
    text-align: center;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    } 50% {
        transform: rotate(180deg);
    } 100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 320px) {

    /* HEADER W/ BANNER */
    header {
        width: 100%;
        height: 30vh;
        margin-bottom: 60px;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
    }
    
    header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("assets/img/header.jpg");
        background-position: center;
        background-size: cover;
        filter: blur(5px);
        z-index: -1;
    }
    
    p.animated-text {
        font-family: 'Bebas Neue', sans-serif;
        margin-top: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.3rem;
        animation: scrollText 15s linear infinite;
    }
    
    .title-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 20%;
    
        img {
            width: 100%;
            height: 100%;
        }
    }

    /* SECTION #PRESENT */
    #present {
        background: #2525256f;
        border-radius: 10px;
        box-shadow: 0px 0px 50px -3px rgba(1, 189, 146, 0.3);
        width: 80%;
        margin: 40px auto;
        padding: 10px 0;
    
        h1 {
            font-size: 2.5rem;
            margin-bottom: 15px;
    
            #main-logo {
                width: 100px;
                animation: rotate 5s linear infinite;
            }
        }
    }
}
/* 
@media screen and (min-width: 576px) {

    header {
        width: 100%;
        height: 40vh;
        margin-bottom: 60px;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .title-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 20%;
    
        img {
            width: 100%;
            height: 100%;
        }
    }
} */