@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #000000, #333333);
    min-height: 100vh;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, a {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

h1, h2 {
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Class pour le zoom image */
.zoom {
    transform: scale(2);
    transition: transform 0.3s ease-in-out;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 280px) {
    /* HEADER W/ BANNER */
    header {
        width: 100%;
        height: 20vh;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        box-shadow: 0 2px 25px -5px red;
    }
    header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("assets/img/header.jpg");
        background-position: center;
        background-size: cover;
        filter: blur(5px);
        z-index: -1;
    }
    p.animated-text {
        font-family: 'Bebas Neue', sans-serif;
        margin-top: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.3rem;
        animation: scrollText 15s linear infinite;
    }
    #main-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #DC1A28;
        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.8);
        font-size: 2rem;
        letter-spacing: 4px;
        margin: 0;
    }

    /* SECTION #PRESENT */
    h1 {
        font-size: 1.7rem;
        margin: 50px 10px 0;
    }
    .logo-container {
        width: 100px;
        /* animation: rotate 8s linear infinite; */
        animation: pulse 3s ease-in-out infinite;
        margin: 0 auto 20px;

        img {
            width: 100%;
        }
    }
    /* CARDS */
    #cards {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: solid 1px blue;
    }
    /* .cards {
        display: flex;
        flex-wrap: wrap;
    } */
    .card {
        width: 100%;
        background: #fff;
        box-shadow: 0 0 20px 4px #5030cfc3;
        border-radius: 16px;
        backdrop-filter: blur(8.3px);
        margin-bottom: 60px;
        padding-bottom: 2rem;
    }
    .card .card-img-container {
        height: 150px;
        width: 100%;
    }
    .card .card-img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
        background: #0D0615;
    }
    .card .content {
        padding: 15px;
        color: #000;
        
       h2 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        i {
            margin-right: 10px;
            color: rgb(1,192,148);
        }
        i.wrong {
            color: red;
        }
        li {
            font-size: 1.1rem;
        }

        .pricing {
            border: solid 1px red;
            display: flex;
            flex-direction: column;
            margin: 50px 0;
            h3 {
                margin: 0;
            }
        }
    }
    h3 {
        font-size: 1.9rem;
        margin: 20px 0 5px;
        text-align: center;

        span {
            font-size: 0.9rem;
        }
    }
    .card .payment-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-paypal, .fa-credit-card {
            color: blue;
            font-size: 1.4rem;
        }
    }
    .card .btn {
        position: absolute;
        width: fit-content;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        padding: 10px;
        font-weight: bold;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        outline: none;
        border-radius: 5px;
        border: none;
        background: rgb(1,192,148);
    }
    .card .btn:hover {
        color: rgb(1,192,148);
        background: #fff;
        border: solid 2px rgb(1,192,148);
    }

    /* CAROUSEL */
    #carousel {
        margin: 20px 10px;
    }

    .carousel-container {
        h2 {
            margin-bottom: 30px;
            font-size: 1.3rem;
        }

        .swiper {
            width: 60%;
            height: 100%;
            background: #b9b5c471;
            padding: 20px;
            border-radius: 8px;

            .swiper-slide {
              background: inherit;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    /* SECTION #INSTALLATION */
    #installation {
        box-shadow: -10px 0px 13px -7px #0000008d, 10px 0px 13px -7px #0000008d, 5px 2px 41px 0px #5030CF;
        border-radius: 3px;
        margin: 40px auto 60px;
        padding: 10px;
        width: 90%;
    
        h1 {
            margin: 20px 0;
            font-size: 1.3rem;
        }

        li {
            margin: 40px 0;
            font-size: 1.2rem;
        }
    }
    #installation a {
        display: block;
        width: fit-content;
        margin: 20px auto;
        padding: 8px;
        border: none;
        border-radius: 3px;
        background: rgb(82,49,207);
        background: linear-gradient(74deg, rgba(82,49,207,1) 26%, rgba(203,100,129,1) 71%);
        color: white;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 600;
        font-size: 1rem;
        transition: 0.3s ease-in-out;
        box-shadow: 0 4px 30px rgba(210, 28, 73, 0.605);
    }
    
    #installation a:hover {
        transform: scale(1.1);
    }


    #installation li img {
        margin: 20px auto;
        display: block;
        width: 100%;
        cursor: pointer;
    }
    
    /* BANNER BOTTOM */
    .banner-bottom {
        margin-bottom: 60px;
        background-image: url("assets/img/popcorn.png");
        background-size: cover;
        background-position: center;
        height:20vh;
    }

    /* FOOTER */
    footer {
        box-shadow: 0px 10px 40px 3px rgba(1, 189, 146, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-align: center;
        li {
            margin: 10px 0;
        }
        a {
            text-transform: uppercase;
            color: #fff;
            font-size: 1.4rem;
            transition: 0.3s ease-in-out;
        }
        a:hover {
            color: #DC1A28;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        }
    }
    .img-container {
        margin-top: 20px;
        width: 30%;
        height: 30%;
    }
    .img-container img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 320px) {
    header {
        height: 25vh;
        white-space: nowrap;
    }
    #main-title {
        font-size: 2.3rem;
        letter-spacing: 4px;
    }
    h1 {
        font-size: 2.3rem;
    }
    #installation h1 {
        font-size: 1.5rem;
    }
    .banner-bottom {
        height: 30vh;
    }
    .img-container {
        width: 35%;
        height: 30%;
    }
}

@media screen and (min-width: 380px) {
    #main-title {
        font-size: 2.9rem;
    }
    h1 {
        font-size: 2rem;
    }
    #installation h1 {
        font-size: 1.6rem;
    }
    .img-container {
        width: 30%;
    }
}

@media screen and (min-width: 447px) {
    #main-title {
        font-size: 3.2rem;
    }
    h1 {
        font-size: 2rem;
    }
    #installation h1 {
        font-size: 1.8rem;
    }
    .img-container {
        width: 30%;
        height: 25%;
    }
    .card {
        width: 75%;
        margin: 0 auto 60px;
        .content {
            h3 {
                font-size: 2.5rem;
                span {
                    font-size: 1.1rem;
                }
            }
        }
    }
    #installation li img {
        max-width: 60%;
    }
}

@media screen and (min-width: 576px) {
    @keyframes scrollText {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    header {
        height: 40vh;
    }
    p.animated-text {
        font-size: 1.7rem;
    }
    #main-title {
        font-size: 4.2rem;
        letter-spacing: 10px;
    }
    .logo-container {
        width: 150px;
    }
    h1 {
        letter-spacing: 3px;
        font-size: 2.6rem;
    }
    #cards {
        width: 60%;
    }
    .card {
        width: 100%;
    }
    .carousel-container {
        h2 {
            font-size: 1.8rem;
        }
    }
    .carousel-container {
        .swiper {
            width: 50%;
        }
    }
    #installation {
        width: 80%;
    }
    #installation h1 {
        font-size: 1.9rem;
    }
    #installation a {
        font-size: 1.3rem;
    }
    .img-container {
        width: 25%;
        height: 20%;
    }
}

@media screen and (min-width: 700px) {
    .img-container {
        width: 20%;
        height: 20%;
    }
    #cards {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card {
        width: 45%;
        padding-bottom: 6rem;
    }
}

@media screen and (min-width: 800px) {
    @keyframes scrollText {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    header {
        height: 45vh;
    }
    header::before {
        top: 10px;
    }
    p.animated-text {
        font-size: 1.9rem;
        animation: scrollText 15s linear infinite;
    }
    #main-title {
        font-size: 5rem;
        letter-spacing: 15px;
    }
    .logo-container {
        width: 170px;
    }
    h1 {
        letter-spacing: 5px;
    }
    #presentation {
        width: 100%;
    }
    .carousel-container {
        .swiper {
            width: 40%;
        }
    }
    .card {
        width: 40%;
    }
    .carousel-container {
        h2 {
            font-size: 2.3rem;
        }
    }
    #installation h1 {
        font-size: 2rem;
    }
    #installation a {
        display: inline-block;
        font-size: 1.5rem;
    }
    #installation li img {
        max-width: 50%;
    }
    .banner-bottom {
        height: 35vh;
    }
    .img-container {
        width: 15%;
        height: 15%;
    }
}

@media screen and (min-width: 860px) {
    header {
        height: 50vh;
    }
    h1 {
        font-size: 3rem;
    }
    #installation h1 {
        font-size: 2.3rem;
    }
}

@media screen and (min-width: 992px) {
    header {
        height: 55vh;
    }
    #main-title {
        font-size: 5.5rem;
        letter-spacing: 18px;
    }
    .logo-container {
        width: 200px;
    }
    h1 {
        font-size: 3.5rem;
    }
    #cards {
        width: 75%;
        margin: 0 auto;
    }
    .card {
        padding-bottom: 9rem;

        .content {
            h2 {
                font-size: 2.3rem;
                span {
                    font-size: 1.2rem;
                }
            }
            li {
                font-size: 1.3rem;
            }
        }
    }
    .carousel-container {
        h2 {
            font-size: 3rem;
        }
    }
    #installation h1 {
        font-size: 2.5rem;
    }
    #installation a {
        display: inline-block;
    }
    .banner-bottom {
        height: 45vh;
    }
    .img-container {
        width: 8%;
    }
}

@media screen and (min-width: 1200px) {
    #main-title {
        font-size: 6.7rem;
    }
    .banner-bottom {
        height: 45vh;
    }
    .card {
        padding-bottom: 2rem;
    }
    .carousel-container {
        .swiper {
            width: 30%;
        }
    }
    #installation {
        width: 75%;
        margin: 40px auto 70px;
    }
}

@media screen and (min-width: 1450px) {
    header {
        height: 65vh;
    }
    p.animated-text {
        animation: scrollText 18s linear infinite;
    }
    #main-title {
        font-size: 8rem;
        letter-spacing: 28px;
    }
    .logo-container {
        width: 230px;
    }
    h1 {
        font-size: 4rem;
        letter-spacing: 10px;
    }
    .card {
        padding-bottom: 1.5rem;
    }
    #installation li img {
        max-width: 40%;
    }
    .banner-bottom {
        height: 60vh;
    }
}

@media screen and (min-width: 2000px) {
    header {
        height: 80vh;
    }
    p.animated-text {
        animation: scrollText 25s linear infinite;
        font-size: 2.2rem;
    }
    #main-title {
        font-size: 9rem;
        letter-spacing: 28px;
    }
    .logo-container {
        width: 230px;
    }
    h1 {
        font-size: 6rem;
        letter-spacing: 10px;
    }
    .cards {
        width: 90%;
        justify-content: center;
        margin: 50px auto;
    }
    .card {
        width: 15%;
        margin: 0 50px 0;
        height: 800px;
    }
    .card .img {
        height: 25%;
    }
    .card .content {
        padding: 15px;
    }
    .card .content h3 {
        font-size: 1.6rem;
        margin-bottom: 15px;
    }
    .card .content li {
        font-size: 1.5rem;
    }
    #installation li img {
        max-width: 40%;
    }
    .banner-bottom {
        height: 60vh;
    }
}
