@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #000000, #333333);
    min-height: 100vh;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, a {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

h1, h2 {
    text-align: center;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    } 50% {
        transform: rotate(180deg);
    } 100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 320px) {
    /* HEADER W/ BANNER */
    header {
        width: 100%;
        height: 30vh;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
    }
    header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("assets/img/header.jpg");
        background-position: center;
        background-size: cover;
        filter: blur(5px);
        z-index: -1;
    }
    p.animated-text {
        font-family: 'Bebas Neue', sans-serif;
        margin-top: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.3rem;
        animation: scrollText 15s linear infinite;
    }
    .title-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 15%;
    
        img {
            width: 100%;
            height: 100%;
        }
    }
    /* SECTION #PRESENT */
    .logo-container {
        width: 100px;
        animation: rotate 8s linear infinite;
        margin: 0 auto 20px;

        img {
            width: 100%;
        }
    }
    h1 {
        font-size: 2.5rem;
        margin: 20px auto 15px;
    }
    #presentation {
        width: 80%;
        margin: 40px auto;
        padding: 10px 0;
    }
    /* CARDS */
    .cards {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        background: rgba(112, 115, 114, 0.3);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(210, 28, 73, 0.605);
        backdrop-filter: blur(8.3px);
        margin: 15px;
        width: 100%;
    }
    .card .img {
        height: 15vh;
        width: 100%;
    }
    .card .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
        background: rgba(1, 189, 146, 0.3);
    }
    .card .content {
        padding: 10px;
        h3 {
            font-size: 1.3rem;
            margin: 10px 0;
        }
        p {
            font-size: 1.1rem;
        }
    }
}

@media screen and (min-width: 380px) {
    h1 {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 447px) {
    .title-container {
        width: 70%;
        height: 20%;
    }

    h1 {
        font-size: 2rem;
    }

    .card {
        margin-bottom: 20px;
    }
    
}

@media screen and (min-width: 576px) {
    @keyframes scrollText {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    header {
        height: 40vh;
    }
    p.animated-text {
        font-size: 1.7rem;
    }
    .title-container {
        width: 70%;
        height: 15%;
    }
    .logo-container {
        width: 150px;
    }
    h1 {
        letter-spacing: 3px;
        font-size: 2.6rem;
    }
    .card {
        margin: 0 auto 40px;
        width: 80%;
    }
    .card .content {
        padding: 15px;
    }
    .card .content p {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 800px) {
    @keyframes scrollText {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    header {
        height: 45vh;
    }
    p.animated-text {
        font-size: 1.9rem;
        animation: scrollText 15s linear infinite;
    }

    .title-container {
        height: 15%;
        width: 70%;
    }
    .logo-container {
        width: 170px;
    }
    h1 {
        letter-spacing: 5px;
    }
    #presentation {
        width: 100%;
    }
    .cards {
        justify-content: space-around;
        align-items: center;
    }
    .card {
        width: 65%;
        margin: 0 0 50px;
    }
    .card .img {
        height: 20vh;
    }
    .card .content {
        padding: 15px;
    }
    .card .content p {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 860px) {
    header {
        height: 50vh;
    }
    h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 992px) {
    header {
        height: 60vh;
    }
    .title-container {
        height: 13%;
        width: 60%;
    }
    .logo-container {
        width: 200px;
    }
    h1 {
        font-size: 3.5rem;
    }
    .cards {
        justify-content: space-around;
        align-items: center;
        width: 75%;
        margin: 0 auto;
    }
    .card {
        width: 46%;
        height: 690px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1450px) {
    header {
        height: 70vh;
    }
    p.animated-text {
        animation: scrollText 18s linear infinite;
    }
    .title-container {
        width: 60%;
        height: 12%;
    }
    .logo-container {
        width: 230px;
    }
    h1 {
        font-size: 4rem;
        letter-spacing: 10px;
    }
    .card {
        height: 650px;
        margin-bottom: 50px;
    }
    .card .img {
        height: 20vh;
    }
    .card .content h3 {
        font-size: 1.5rem;
    }
    
}